* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDCDC;
    font-family: "Poppins", "Roboto", sans-serif;
}

.main-container {
    padding: 20px;
    width: 1024px;
    min-height: 620px;
    border-radius: 12px;
    display: flex;
    margin: 8px;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.left-container,
.right-container {
    background-color: #c4daf2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    margin: 12px;
}

.left-container {
    width: 35%;
    justify-content: space-evenly;
}

.right-container {
    width: 65%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card input,
.card button,
.reset {
    color: rgb(77, 104, 118);
    border: none;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: border 0.15s;
    font-size: medium;
}


.card input:hover {
    color: rgb(13, 67, 112);
    font-weight: 600;
    border: 1px solid rgb(102, 102, 104);
}

.card button,
.reset {
    background-color: rgb(13, 67, 112);
    color: white;
    transition: opacity 0.15s;
}

.card button:hover,
button:hover {
    opacity: 0.8;
}

.card h2 {
    margin-bottom: 6px;
    color: rgb(13, 67, 112);
}

.card label {
    font-size: 14px;
    color: rgb(77, 104, 118);
}

.border {
    border-bottom: 1px solid rgb(139, 139, 141);
}